<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-md-7">
            <div class="card">
                <img [src]="'assets/images/perfiles/' + (contacto.imgPath ? contacto.imgPath : 'no-contacto.png')" class="card-img-top d-flex justify-content-center profile-img" alt="...">

                <div class="card-body d-flex">
                    <div class="col-10">
                        <h5 class="card-title">{{ contacto.nombres | uppercase }}</h5>
                        <h5 class="card-title">{{ contacto.apellidos | uppercase }}</h5>
                        <small style="opacity: 0.5;"><i>{{ genders[contacto.genero] }}</i></small>
                    </div>

                    <div class="col-2">
                        <div class="dropdown" appDropdown>
                            <button class="btn btn-secondary dropdown-toggle" type="button" title="Administrar contacto">
                              <fa-icon [icon]="['fas', 'gear']"></fa-icon>
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" routerLink="edit">Editar</a></li>
                              <li><a class="dropdown-item" style="cursor: pointer;" (click)="onDelete()">Eliminar</a></li>
                            </ul>
                          </div>
                    </div>

                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ contacto.telefono }}</li>
                    <li class="list-group-item">{{ contacto.email }}</li>
                    <li class="list-group-item">
                        <ul>
                            <li *ngFor="let hobby of contacto.hobbies">{{ hobby }}</li>
                        </ul>
                    </li>
                </ul>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
