/* .new-hob-btn {
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.new-hob-btn :hover {
    color: rgb(255, 0, 0);
    cursor: pointer;
    font-size: 18px;
}

.new-hob-btn :focus {
    color: rgba(255, 0, 0, 0.5);
    color: blue;
    font-size: 15px;
} */